---
import Ellipsis from './Ellipsis.astro';

import { getPageNumbers } from '../lib/array';

const { page, urlPattern } = Astro.props;
const pageNumbers = getPageNumbers(page);
const firstPageInRange = pageNumbers[0];
const lastPageInRange = pageNumbers[pageNumbers.length - 1];
---

<nav role="navigation" aria-label="Strony">
  <ul>
    <li>
      {
        page.url.first === page.url.current || !page.url.first ? (
          <span>&laquo;</span>
        ) : (
          <a href={page.url.first}>&laquo;</a>
        )
      }
    </li>

    <li>
      {page.url.prev ? <a href={page.url.prev}>&lsaquo;</a> : <span>&lsaquo;</span>}
    </li>

    {
      firstPageInRange > 2 && (
        <li>
          <Ellipsis />
        </li>
      )
    }

    {
      pageNumbers.map((num) => (
        <li>
          <a href={urlPattern.replace('{}', num === 1 ? '' : num)}>{num}</a>
        </li>
      ))
    }

    {
      lastPageInRange < page.lastPage - 1 && (
        <li>
          <Ellipsis />
        </li>
      )
    }

    <li>
      {!page.url.next ? <span>&rsaquo;</span> : <a href={page.url.next}>&rsaquo;</a>}
    </li>

    <li>
      {
        page.url.last === page.url.current || !page.url.last ? (
          <span>&raquo;</span>
        ) : (
          <a href={page.url.last}>&raquo;</a>
        )
      }
    </li>
  </ul>
</nav>
