---
import OldPostWarning from '../components/OldPostWarning.astro';
import PrevNext from '../components/PrevNext.astro';
import TagLink from '../components/TagLink.astro';
import { isPostTechRelated } from '../lib/content';
import BaseLayout from './BaseLayout.astro';

const {
  frontmatter,
  nextEntry,
  prevEntry,
  dateLastModified: lastModified,
} = Astro.props;

const isOld =
  (new Date().getTime() - frontmatter.pubDate.getTime()) / (1000 * 60 * 60 * 24) > 720;
const displayOldPostWarning = isOld && isPostTechRelated(frontmatter);
---

<BaseLayout pageTitle={frontmatter.title}>
  <slot name="head" slot="head" />
  {displayOldPostWarning ? <OldPostWarning /> : ''}
  <div class="grid">
    <p>
      Opublikowano: {frontmatter.pubDate.toLocaleDateString('pl-PL')}
    </p>
    <p>Ostatnia modyfikacja: {lastModified}</p>
  </div>
  <div class="tags">
    {
      frontmatter.tags &&
        frontmatter.tags.sort().map((tag: string) => <TagLink tag={tag} />)
    }
  </div>
  <PrevNext prevEntry={prevEntry} nextEntry={nextEntry} />
  <slot />
  <PrevNext prevEntry={prevEntry} nextEntry={nextEntry} />
</BaseLayout>

<style>
  .tags {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: var(--pico-typography-spacing-vertical);
  }
</style>
