---
import dayjs from 'dayjs';
import OldPostWarning from '../components/OldPostWarning.astro';
import PrevNext from '../components/PrevNext.astro';
import { isPostTechRelated } from '../lib/content';
import BaseLayout from './BaseLayout.astro';

const { frontmatter, nextEntry, prevEntry } = Astro.props;

const lastModified = dayjs(frontmatter.lastModified)
  .toDate()
  .toLocaleDateString('pl-PL');

const isOld =
  (new Date().getTime() - frontmatter.pubDate.getTime()) / (1000 * 60 * 60 * 24) > 720;
const displayOldPostWarning = isOld && isPostTechRelated(frontmatter);
---

<BaseLayout pageTitle={frontmatter.title}>
  <slot name="head" slot="head" />
  {displayOldPostWarning ? <OldPostWarning /> : ''}
  <div class="grid">
    <p>
      Opublikowano: {frontmatter.pubDate.toLocaleDateString('pl-PL')}
    </p>
    <p>Ostatnia modyfikacja: {lastModified}</p>
  </div>
  <div class="tags">
    {
      frontmatter.tags.sort().map((tag: string) => (
        <p class="tag">
          <a href={`/tags/${tag}`}>{tag}</a>
        </p>
      ))
    }
  </div>
  <PrevNext prevEntry={prevEntry} nextEntry={nextEntry} />
  <slot />
  <PrevNext prevEntry={prevEntry} nextEntry={nextEntry} />
</BaseLayout>

<style>
  .tag a {
    color: #00539f;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: var(--typography-spacing-vertical);
  }

  .tag {
    margin: 0.25em;
    border: dotted 1px #a1a1a1;
    border-radius: 0.5em;
    padding: 0.25em 0.5em;
    font-size: 0.75em;
    background-color: #f8fcfd;
  }
</style>
